.wrapper .parent_student {
  width: 100%;
  height: 746px;
  padding: 100px 115px 100px 116px;
  .student {
    width: 100%;
    height: 546px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 49%;
      height: inherit;
      display: flex;
      position: relative;
      .vertical_line {
        width: 6%;
        height: inherit;
        background-color: #023047;
        border-radius: 24px;
        margin-left: 87px;
      }
      .card1 {
        width: 95.5%;
        height: 222px;
        background-color: #ffffff;
        border-radius: 24px;
        position: absolute;
        left: 0;
        top: 35px;
        box-shadow: 0px 9px 36px 0px #00000033;
        .top {
          width: 100%;
          height: 102px;
          background-color: #6f7dfb;
          border-radius: 24px;
          padding: 24px 32px 24px 32px;
          p {
            width: 79%;
            height: 54px;
            font-family: Raleway-Bold;
            font-size: 16px;
            font-weight: 900;
            line-height: 27px;
            color: #ffffff;
          }
        }
        .bottom {
          width: 100%;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .information {
            width: 34.5%;
            height: 59px;
            h2 {
              font-family: Raleway-Bold;
              font-size: 24px;
              font-weight: 900;
              color: #023047;
            }
            p {
              font-family: Raleway-Regular;
              font-size: 18px;
              font-weight: 400;
              color: #023047;
              margin-top: 8px;
            }
          }
          img {
            width: 110px;
            height: auto;
            object-fit: cover;
            margin-bottom: 32px;
            z-index: 2;
          }
        }
      }

      .card2 {
        width: 93%;
        height: 195px;
        background-color: #ffffff;
        border-radius: 24px;
        position: absolute;
        right: 0;
        bottom: 44px;
        box-shadow: 0px 9px 36px 0px #00000033;
        .top {
          width: 100%;
          height: 75px;
          background-color: #da722c;
          border-radius: 24px;
          padding: 24px 32px 24px 32px;
          p {
            width: 85.5%;
            height: 54px;
            font-family: Raleway-Bold;
            font-size: 18px;
            font-weight: 900;
            line-height: 27px;
            color: #ffffff;
          }
        }
        .bottom {
          width: 100%;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .information {
            width: 34%;
            height: 59px;
            h2 {
              font-family: Raleway-Bold;
              font-size: 24px;
              font-weight: 900;
              color: #023047;
            }
            p {
              width: max-content;
              font-family: Raleway-Regular;
              font-size: 18px;
              font-weight: 400;
              color: #023047;
              margin-top: 8px;
            }
          }
          img {
            width: 110px;
            height: auto;
            object-fit: cover;
            margin-bottom: 32px;
            z-index: 2;
          }
        }
      }
    }
    .right {
      width: 45%;
      height: 377px;
      margin-left: 60px;
      h2 {
        font-family: Raleway-Bold;
        font-size: 47px;
        font-weight: 900;
        color: #023047;
      }
      p {
        font-family: Poppins-Regular;
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        margin-bottom: 30px;
        color: #023047;
      }
      button {
        width: 40%;
        height: 59px;
        background-color: #da722c;
        border-radius: 24px;
        padding: 16px 32px 16px 32px;
        border: unset;
        color: #ffffff;
        font-family: Poppins-Bold;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
