*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.wrapper{
    width: 100%;
    height: auto;
}

$bgOranged: #DA722C ;
$bgBluesky:  #057ADA ;
$bgLightblue: #E8F7FB;
$bgNavyblue: #023047;
$bgBlack: #070917;
$bgLightpurple:#6F7DFB;
$background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);

@font-face {
    font-family: Raleway-Regular;
    src: url(../../Fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(../../Fonts/Raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-Thin;
    src: url(../../Fonts/Raleway/Raleway-Thin.ttf);
}
@font-face {
    font-family:Poppins-Regular;
    src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(../../Fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-Thin;
    src: url(../../Fonts/Poppins/Poppins-Thin.ttf);
}