.wrapper .header {
  width: 100%;
  height: 768px;
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  padding: 42px 116px 0 116px;
  // TopHeader
  .topheader {
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    // Left
    .left {
      width: 4.6%;
      height: 59px;
      font-family: Raleway-Bold;
      font-size: 40px;
      font-weight: 900;
      line-height: 59px;
      color: #ffffff;
    }
    // Right
    .right {
      width: 36%;
      height: 59px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        font-family: Poppins-Bold;
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
      }
      // Button
      button {
        width: 29%;
        height: inherit;
        padding: 16px, 32px, 16px, 32px;
        background: #023047;
        border-radius: 24px;
        color: #fff;
        font-family: Poppins-Bold;
        font-size: 18px;
        font-weight: 700;
        border: unset;
      }
    }
  }

  .bottomheader {
    width: 100%;
    height: 582px;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    .left {
      width: 31%;
      height: auto;
      display: flex;
      flex-flow: column nowrap;

      h2 {
        font-family: Raleway-Bold;
        font-size: 50px;
        font-weight: 900;
        color: #ffffff;
        margin-top: 33px;
      }
      p {
        font-family: Poppins-Regular;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 18px;
      }
      button {
        width: 40%;
        height: 59px;
        padding: 16px 32px 16px 32px;
        border-radius: 24px;
        background-color: #da722c;
        color: #ffffff;
        font-family: Poppins-Bold;
        font-size: 18px;
        font-weight: 700;
        border: unset;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
    }

    .center {
      width: 15%;
      height: inherit;
      text-align: center;
      margin-left: 40px;
      .top {
        width: 100%;
        height: 98px;
        background-color: #ffffff;
        border-radius: 24px;
        box-shadow: 0 4px 4px 0 #00000040;
        text-align: center;
        margin-top: 137px;
        h2 {
          font-family: Poppins-Bold;
          font-size: 36px;
          font-weight: 700;
          color: #023047;
          margin-top: 8px;
          display: inline-block;
        }
        p {
          font-family: Poppins-Regular-;
          font-size: 16px;
          font-weight: 400;
          color: #023047;
        }
      }

      .bottom {
        width: 88.2%;
        height: 98px;
        background: #ffffff;
        border-radius: 24px;
        box-shadow: 0 4px 4px 0 #00000040;
        margin-top: 141px;
        display: inline-block;

        h2 {
          display: inline-block;
          font-family: Poppins-Bold;
          font-size: 36px;
          font-weight: 700;
          color:  #023047;
          margin-top: 8px;
        }
        img {
          vertical-align: middle;
          margin-bottom: 18px;
        }
        p {
          font-family: Poppins-Regular;
          font-size: 16px;
          font-weight: 400;
          margin-top: -12px;
          color:  #023047;
        }
      }
    }

    .right{
        width: 30%;
        height: inherit;
        margin-left: 71px;
        img{
            width: 446px;
            height: inherit;
            object-fit: cover;

        }
    }
  }
}
