.wrapper .header {
  width: 100%;
  height: 1194px;
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  padding: 60px 60px 0 60px;
}
.wrapper .header .topheader {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.wrapper .header .topheader .left {
  width: 10%;
  height: 48px;
  font-family: Raleway-Bold;
  font-size: 40px;
  font-weight: 900;
  line-height: 59px;
  color: #ffffff;
}
.wrapper .header .topheader .right {
  width: 66%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .header .topheader .right div {
  font-family: Poppins-Bold;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.wrapper .header .topheader .right button {
  width: 29%;
  height: inherit;
  padding: 16px, 32px, 16px, 32px;
  background: #023047;
  border-radius: 24px;
  color: #fff;
  font-family: Poppins-Bold;
  font-size: 18px;
  font-weight: 700;
  border: unset;
}
.wrapper .header .topheader #show, .wrapper .header .topheader #close {
  display: none;
}
.wrapper .header .topheader label[for=close] {
  display: none;
}
.wrapper .header .topheader label[for=show] {
  display: none;
}
.wrapper .header .bottomheader {
  width: 100%;
  height: 931px;
  margin-top: 155px;
}
.wrapper .header .bottomheader .left h2 {
  width: 88.1%;
  padding: 0 100px;
  font-family: Raleway-Bold;
  font-size: 50px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 33px;
}
.wrapper .header .bottomheader .left p {
  width: 100%;
  padding: 0 100px;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 18px;
}
.wrapper .header .bottomheader .left button {
  width: 23%;
  height: 48px;
  margin: 0 100px;
  padding: 16px 32px 16px 32px;
  border-radius: 24px;
  background-color: #da722c;
  color: #ffffff;
  font-family: Poppins-Bold;
  font-size: 15px;
  font-weight: 700;
  border: unset;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.wrapper .header .bottomheader .center {
  width: 29.6%;
  height: auto;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-left: 138px;
}
.wrapper .header .bottomheader .center .top {
  width: 100%;
  height: 98px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  text-align: center;
  margin-top: 184px;
}
.wrapper .header .bottomheader .center .top h2 {
  font-family: Poppins-Bold;
  font-size: 36px;
  font-weight: 700;
  color: #023047;
  margin-top: 8px;
  display: inline-block;
}
.wrapper .header .bottomheader .center .top p {
  font-family: Poppins-Regular-;
  font-size: 16px;
  font-weight: 400;
  color: #023047;
}
.wrapper .header .bottomheader .center .bottom {
  width: 88.3%;
  height: 98px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  margin-top: 118px;
  display: inline-block;
  position: absolute;
  left: 0;
}
.wrapper .header .bottomheader .center .bottom h2 {
  display: inline-block;
  font-family: Poppins-Bold;
  font-size: 36px;
  font-weight: 700;
  color: #023047;
  margin-top: 8px;
}
.wrapper .header .bottomheader .center .bottom img {
  vertical-align: middle;
  margin-bottom: 18px;
}
.wrapper .header .bottomheader .center .bottom p {
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  margin-top: -12px;
  color: #023047;
}
.wrapper .header .bottomheader .right {
  width: 50%;
  height: 647px;
  display: inline-block;
  position: absolute;
}
.wrapper .header .bottomheader .right img {
  width: 465px;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: -16px;
}

.wrapper .parent_student {
  width: 100%;
  height: 960px;
  padding: 100px 100px;
  position: relative;
}
.wrapper .parent_student .student {
  width: 100%;
  height: 760px;
  display: flex;
  flex-flow: row wrap;
}
.wrapper .parent_student .student .left {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  order: 2;
}
.wrapper .parent_student .student .left .vertical_line {
  width: 4.5%;
  height: inherit;
  background-color: #023047;
  border-radius: 24px;
  margin-left: 87px;
}
.wrapper .parent_student .student .left .card1 {
  width: 100%;
  height: 195px;
  background-color: #ffffff;
  border-radius: 24px;
  position: absolute;
  left: 0;
  top: 35px;
  box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.2);
}
.wrapper .parent_student .student .left .card1 .top {
  width: 100%;
  height: 75px;
  background-color: #6f7dfb;
  border-radius: 24px;
  padding: 24px 32px 24px 32px;
}
.wrapper .parent_student .student .left .card1 .top p {
  width: 85.5%;
  height: 54px;
  font-family: Raleway-Bold;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
  color: #ffffff;
}
.wrapper .parent_student .student .left .card1 .bottom {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper .parent_student .student .left .card1 .bottom .information {
  width: 34%;
  height: 59px;
}
.wrapper .parent_student .student .left .card1 .bottom .information h2 {
  font-family: Raleway-Bold;
  font-size: 24px;
  font-weight: 900;
  color: #023047;
}
.wrapper .parent_student .student .left .card1 .bottom .information p {
  font-family: Raleway-Regular;
  font-size: 18px;
  font-weight: 400;
  color: #023047;
  margin-top: 8px;
}
.wrapper .parent_student .student .left .card1 .bottom img {
  width: 120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 32px;
  z-index: 2;
}
.wrapper .parent_student .student .left .card2 {
  width: 100%;
  height: 195px;
  background-color: #ffffff;
  border-radius: 24px;
  position: absolute;
  bottom: 44px;
  box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.2);
}
.wrapper .parent_student .student .left .card2 .top {
  width: 100%;
  height: 75px;
  background-color: #da722c;
  border-radius: 24px;
  padding: 24px 32px 24px 32px;
}
.wrapper .parent_student .student .left .card2 .top p {
  width: 85.5%;
  height: 54px;
  font-family: Raleway-Bold;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
  color: #ffffff;
}
.wrapper .parent_student .student .left .card2 .bottom {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper .parent_student .student .left .card2 .bottom .information {
  width: 34%;
  height: 59px;
}
.wrapper .parent_student .student .left .card2 .bottom .information h2 {
  font-family: Raleway-Bold;
  font-size: 24px;
  font-weight: 900;
  color: #023047;
}
.wrapper .parent_student .student .left .card2 .bottom .information p {
  width: -moz-max-content;
  width: max-content;
  font-family: Raleway-Regular;
  font-size: 18px;
  font-weight: 400;
  color: #023047;
  margin-top: 8px;
}
.wrapper .parent_student .student .left .card2 .bottom img {
  width: 120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 32px;
  z-index: 2;
}
.wrapper .parent_student .student .right {
  order: 1;
}
.wrapper .parent_student .student .right h2 {
  width: 100%;
  height: 48px;
  font-family: Raleway-Bold;
  font-size: 40px;
  font-weight: 900;
  color: #023047;
}
.wrapper .parent_student .student .right p {
  width: 100%;
  height: 48px;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  color: #023047;
}
.wrapper .parent_student .student .right button {
  width: 18.5%;
  height: 48px;
  background-color: #da722c;
  line-height: 16px;
  border-radius: 24px;
  padding: 16px 32px 16px 32px;
  border: unset;
  color: #ffffff;
  font-family: Poppins-Bold;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  bottom: 95px;
  right: 100px;
}

.wrapper .parent_courses {
  width: 100%;
  height: 1223px;
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  padding: 70px 100px;
  position: relative;
}
.wrapper .parent_courses .courses {
  width: 100%;
  height: 645px;
}
.wrapper .parent_courses .courses .toptext {
  width: 100%;
  height: 48px;
  padding: 0 55px 0 53px;
  margin: 0 auto;
  text-align: center;
  line-height: 48px;
}
.wrapper .parent_courses .courses .toptext h2 {
  font-family: Raleway-Bold;
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}
.wrapper .parent_courses .courses .course {
  width: 100%;
  height: 418px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.wrapper .parent_courses .courses .course .left {
  width: 100%;
  height: 373px;
  border-radius: 24px;
  padding: 0 32px 0 32px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #ffffff;
  margin-bottom: 80px;
  margin-top: 66px;
}
.wrapper .parent_courses .courses .course .left img {
  width: 568px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
.wrapper .parent_courses .courses .course .left .text {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.wrapper .parent_courses .courses .course .left .text p {
  width: 76%;
  font-family: Raleway-Bold;
  font-size: 30px;
  font-weight: 900;
  color: #023047;
}
.wrapper .parent_courses .courses .course .left .text img {
  width: 72px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
}
.wrapper .parent_courses .courses .course .right {
  width: 100%;
  height: 373px;
  border-radius: 24px;
  padding: 0 32px 0 32px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #ffffff;
}
.wrapper .parent_courses .courses .course .right img {
  width: 568px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
.wrapper .parent_courses .courses .course .right .text {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.wrapper .parent_courses .courses .course .right .text p {
  width: 76%;
  font-family: Raleway-Bold;
  font-size: 30px;
  font-weight: 900;
  color: #023047;
  margin-top: -18px;
}
.wrapper .parent_courses .courses .course .right .text img {
  width: 72px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
}
.wrapper .parent_courses .courses button {
  width: 18.7%;
  height: 48px;
  background-color: #da722c;
  border: unset;
  border-radius: 24px;
  font-family: Poppins-Bold;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 12px 32px 12px 32px;
  position: absolute;
  right: 100px;
  bottom: 70px;
}

.wrapper .parent_app {
  width: 100%;
  height: 412px;
  padding: 100px 76px 100px 78px;
}
.wrapper .parent_app .app {
  width: 100%;
  height: 262px;
}
.wrapper .parent_app .app .top {
  width: 100%;
  height: 48px;
  margin: 0 auto;
  text-align: center;
  line-height: 48px;
}
.wrapper .parent_app .app .top h2 {
  font-family: Raleway-Bold;
  font-size: 40px;
  font-weight: 900;
  color: #023047;
}
.wrapper .parent_app .app .center {
  width: 100%;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin-top: 5px;
}
.wrapper .parent_app .app .center p {
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #023047;
}
.wrapper .parent_app .app .bottom {
  width: 100%;
  height: 100px;
  margin-top: 27px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.wrapper .parent_app .app .bottom .left {
  width: 45.5%;
  height: inherit;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.wrapper .parent_app .app .bottom .left img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .parent_app .app .bottom .left p {
  font-family: Poppins-Regular;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 70px;
}
.wrapper .parent_app .app .bottom .right {
  width: 45.5%;
  height: inherit;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.wrapper .parent_app .app .bottom .right img {
  width: 55.7px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .parent_app .app .bottom .right p {
  font-family: Poppins-Regular;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 40px;
}

.wrapper .parent_footer {
  width: 100%;
  height: 638px;
  background-color: #070917;
  padding: 70px 189px 70px 100px;
}
.wrapper .parent_footer .footer {
  width: 100%;
  height: 498px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.wrapper .parent_footer .footer .left {
  width: 33%;
  height: 205px;
  margin-right: 132px;
}
.wrapper .parent_footer .footer .left p {
  font-family: Poppins-Bold;
  font-size: 18px;
  font-weight: 700;
  color: #da722c;
  margin-bottom: 8px;
}
.wrapper .parent_footer .footer .left a {
  display: block;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  line-height: 32px;
  margin-left: 24px;
}
.wrapper .parent_footer .footer .center {
  width: 20.5%;
  height: 187px;
}
.wrapper .parent_footer .footer .center p {
  font-family: Poppins-Bold;
  font-size: 18px;
  font-weight: 700;
  color: #da722c;
  margin-bottom: 8px;
}
.wrapper .parent_footer .footer .center a {
  display: block;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  line-height: 32px;
  margin-left: 24px;
}
.wrapper .parent_footer .footer .right {
  width: 100%;
  height: 187px;
  margin-top: 45px;
}
.wrapper .parent_footer .footer .right p {
  font-family: Poppins-Bold;
  font-size: 18px;
  font-weight: 700;
  color: #da722c;
  margin-bottom: 8px;
}
.wrapper .parent_footer .footer .right a {
  display: block;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  line-height: 32px;
  margin-left: 24px;
}
.wrapper .parent_footer .footer .right span {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.wrapper .parent_footer .footer .right span img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 8px;
}
.wrapper .parent_footer .footer .right form {
  width: 96%;
  height: 39px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 24px;
  position: relative;
}
.wrapper .parent_footer .footer .right form input:nth-of-type(1) {
  width: 100%;
  height: 39px;
  background-color: #ffffff;
  border-radius: 8px;
  border: unset;
  padding: 4px 0 3px 27px;
}
.wrapper .parent_footer .footer .right form input:nth-of-type(1):focus {
  outline: unset;
}
.wrapper .parent_footer .footer .right form input:nth-of-type(1)::-moz-placeholder {
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
}
.wrapper .parent_footer .footer .right form input:nth-of-type(1)::placeholder {
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
}
.wrapper .parent_footer .footer .right form input:nth-of-type(2) {
  width: 26%;
  height: 30px;
  background-color: #023047;
  border-radius: 8px;
  border: unset;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  right: 6px;
  top: 5px;
}
.wrapper .parent_footer .footer .copyright {
  width: 100%;
  height: 32px;
  position: absolute;
  bottom: 0;
}
.wrapper .parent_footer .footer .copyright p {
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}/*# sourceMappingURL=md.css.map */